{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
        {% if items|length >0 %}

            <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>prix</th>
                    <th>quantité</th>
                    <th>total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%  for item in items %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.product.price|number_format(2)}}€</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price * item.quantity|number_format(2)}}€</td>
                    <td>
                    <a href="{{path('cart_remove',{'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>

                    </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td>{{ total|number_format(2) }}€</td>
                <td></td>
            </tr>
            </tfoot>
            </table>

        {% else %}
            <p>le panier est vide</p>
        {% endif %}
</div>




{% endblock %}
{% block javascripts %}
{% endblock %}
